body {
  font-family: "Poppins", sans-serif;
  background: #f2f3f5;
  text-align: center;
  margin: 30px;
}

h2 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background: #007bff;
  color: white;
}

tr:hover {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: #007bff;
}

a :hover {
  cursor: pointer;
  text-decoration:underline;
}

.btn, .btn-manage {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  margin: 5px;
}

form input, form select {
  width: 250px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}
